<div class="main">
   <div class="whiteone">
     <div class="orangeone">
       <div class="blackone">
          <div class="kala">
          </div>
          <div class="kala">
          </div>
       </div>
     </div>
   </div>
   <div class="whitetwo">
     <div class="orangetwo">
       <div class="blacktwo">
         <div class="kala">
          </div>
          <div class="kala">
          </div>
       </div>
     </div>
   </div>
</div>
<style>
  body{
    padding:0px;
    margin:10px;
    background: #DE9473;
  }
  .main {
    width: 100%;
    height: 100%;
    background: #DE9473;
    margin:0px;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .whiteone {
    background:#F9EAF1;
    width:140px;
    height:140px;
    display:flex;
    align-items:center;
    justify-content:end;
  }
  .whitetwo {
    background:#F9EAF1;
    width:140px;
    height:140px;
    display:flex;
    align-items:center;
    justify-content:start;
  }
  .orangeone {
    background: #DE9473;
    height:80px;
    width:120px;
  }
  .orangetwo {
    background: #DE9473;
    height:80px;
    width:120px;
  }
  .blackone{
    height:100%;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:start;
    justify-content:space-between;
    background: #DE9473;
  }
  .blacktwo{
    height:100%;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:end;
    justify-content:space-between;
    background: #DE9473;
  }
  .kala{
    background:#394257;
    height:25px;
    width:70%;
  }
</style>
<!-- IMPORTANT: remove the comments before submitting -->
