<div class="main">
  <div class="circle">
  </div>
  <div class="shadow">
  </div>
</div>
<style>
  body{
    margin:0;
  }
  .main {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background: #C7B46D;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
  }
  .circle{
    height:160px;
    width:160px;
    border-radius:50%;
    background:#38373A;
    z-index:999;
  }
  .shadow{
    height:40px;
    width:160px;
    background:#8B7E4C;
    border-radius:50%;
    position:absolute;
    z-index:10;
    top:190px;
    left:40px;
  }
</style>
